<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />

<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label>@Localizer["Category"]:</label>
        <div>
            <InputText class="form-control" @bind-Value="@Category.Name" />
            <ValidationMessage For="@(() => Category.Name)" />
        </div>
        <label>@Localizer["Description"]:</label>
        <div>
            <InputText class="form-control" @bind-Value="@Category.Description" />
            <ValidationMessage For="@(() => Category.Description)" />
        </div>
    </div>

    <button class="btn btn-primary" type="submit">@Localizer["SaveChanges"]</button>
    <button class="btn btn-success" @onclick="ReturnAction">@Localizer["Return"]</button>
</EditForm>