@page "/ITAwarenessTraining"

<MudLayout>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large" Class="d-flex align-center justify-center mud-py-12">
            <MudPaper Elevation="10" Class="pa-8 text-center rounded-xl mud-theme-surface" Style="max-width: 1000px; width: 100%;">
                <MudText Typo="Typo.h3" Color="Color.Primary" Class="mud-mb-6 font-weight-bold">
                    @Localizer["ITAwarenessTraining"]
                </MudText>
                <div class="mud-mb-8">
                    @if (!string.IsNullOrEmpty(VideoUrl))
                    {
                        <div class="video-container">
                            <video @ref="videoElement" controlsList="nodownload" @oncontextmenu:preventDefault autoplay muted
                                   class="responsive-video rounded-lg elevation-6" controls>
                                <source src="@VideoUrl" type="video/mp4">
                                Tu navegador no soporta la etiqueta de video.
                            </video>
                        </div>
                    }
                    else
                    {
                        <div class="loading-container">
                            <Loading />
                        </div>
                    }
                </div>

                @if (showControls)
                {
                    <div class="custom-controls">
                        <MudButton StartIcon="@(isPlaying? Icons.Material.Filled.PauseCircle : Icons.Material.Filled.PlayCircle)"
                                   OnClick="TogglePlayPause"
                                   Color="Color.Primary" Variant="Variant.Filled">
                            @(isPlaying ? "Pausar" : "Reproducir")
                        </MudButton>

                        <MudSlider T="double" Min="0" Max="1" Step="0.1" Value="Volume" ValueChanged="OnVolumeChanged"
                                   Class="flex-grow-1" Style="width: 200px; margin: 0 20px;" />

                        <MudButton EndIcon="@Icons.Material.Filled.Fullscreen" OnClick="ToggleFullscreen"
                                   Color="Color.Secondary" Variant="Variant.Outlined">
                            Pantalla Completa
                        </MudButton>
                    </div>
                }
                

                <MudGrid Justify="Justify.Center" Spacing="6" Class="mud-mt-10">
                    <MudItem xs="12" sm="6" md="4">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large"
                                   StartIcon="@Icons.Material.Filled.LaptopChromebook" Class="mud-py-4 mud-px-8 rounded-pill"
                                   OnClick="GoHome">
                            @Localizer["CourseMenu"]
                        </MudButton>
                    </MudItem>
                    <MudItem xs="12" sm="6" md="4">
                        <MudButton Variant="Variant.Outlined" Color="Color.Secondary" Size="Size.Large"
                                   EndIcon="@Icons.Material.Filled.ArrowForward" Class="mud-py-4 mud-px-8 rounded-pill"
                                   OnClick="GoToNextPage" Disabled="@_isNextButtonDisabled">
                            @Localizer["NextVideo"]
                        </MudButton>
                    </MudItem>
                </MudGrid>
            </MudPaper>
        </MudContainer>
    </MudMainContent>
</MudLayout>