@page "/Reports-SISUcsAmmsReport"

<MudContainer MaxWidth="MaxWidth.Medium" Class="my-8">
    <MudText Typo="Typo.h4" GutterBottom="true" Align="Align.Center">
        <MudIcon Icon="@Icons.Material.Filled.Assessment" Class="mr-2" /> @Localizer["SISUcsAmmsReportTitle"]
    </MudText>

    <MudPaper Elevation="3" Class="pa-4">
        <MudStack AlignItems="AlignItems.Center" Spacing="4" Class="py-8">

            <MudIcon Icon="@Icons.Material.Filled.CloudDownload" Color="Color.Primary" Size="Size.Large" Style="font-size: 4rem;" />

            <MudText Typo="Typo.h5" Align="Align.Center">@Localizer["GenerateSISUcsAmmsReport"]</MudText>
            <MudText Align="Align.Center">@Localizer["SISUcsAmmsReportDescription"]</MudText>

            <MudButton Variant="Variant.Filled"
                       Color="Color.Success"
                       OnClick="ExportToExcel"
                       Disabled="@isExporting"
                       StartIcon="@Icons.Material.Filled.Download">
                @if (isExporting)
                {
                    <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                    <MudText Class="ms-2">@Localizer["Exporting"]</MudText>
                }
                else
                {
                    @Localizer["ExportToExcel"]
                }
            </MudButton>

        </MudStack>
    </MudPaper>

    @if (Source != "upload")
    {
        <div class="d-flex justify-center mt-6">
            <MudButton Variant="Variant.Outlined"
                       Color="Color.Secondary"
                       OnClick="GoToReportsMenu">
                @Localizer["Return"]
            </MudButton>
        </div>
    }

</MudContainer>